{% comment %}
    The share buttons share the home page URL. The share text is grabbed from the store
    meta description.
{% endcomment %}

{% layout 'password' %}

<div class="section-password row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <h3>{{ 'general.password_page.opening_soon' | t }}</h3>

        {% unless shop.password_message == blank %}
            <p class="mb-5">
                {{ shop.password_message }}
            </p>
        {% endunless %}

        <hr />

        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-10">
                {% form 'customer' %}        
                    {% if form.posted_successfully? %}
                        <p>{{ 'general.password_page.signup_form_success' | t }}</p>
                    {% else %}
                        <h6>{{ 'general.password_page.signup_form_heading' | t }}</h6>
                        <div class="input-group mb-2">
                            <input type="email" class="form-control" name="contact[email]" id="Email" spellcheck="false" autocomplete="off" autocapitalize="off" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" />
                            <input type="hidden" name="contact[tags]" value="prospect, password page">
                            <div class="input-group-append">
                                <button type="submit" name="commit" class="btn btn-primary">
                                    {{ 'general.password_page.signup_form_submit' | t }}
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    {% include 'error-alerts', errors: form.errors %}
                {% endform %}

            </div>
        </div>

        {% if settings.social_facebook_share or settings.social_twitter_share %}
            <hr class="mb-5" />
            <h6 class="mt-2">{{ 'general.password_page.spread_the_word' | t }}</h6>
            {% include 'social-sharing' %}
        {% endif %}
    </div>
</div>

<a href="#" class="toggle-password" data-toggle="modal" data-target="#LoginModal">
    {{ 'general.password_page.password_link' | t }} &rarr;
</a>
