<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="canonical" href="{{ canonical_url }}" />

    <link rel="dns-prefetch" href="//cdn.shopify.com" />
    <link rel="dns-prefetch" href="//s3.amazonaws.com" />

    {%- if settings.favicon != blank -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    <title>{{ shop.name }} &bull; {{ 'general.password_page.opening_soon' | t }}</title>

    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% include 'social-meta-tags' %}
    {% include 'style-tags', layout: 'theme' %}
    {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', '');
    </script>

    {% include 'script-tags', layout: 'theme' %}

    {{ content_for_header }}

    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'rias.js' | asset_url }}" async="async"></script>
</head>

<body class="template-password">

    <div class="vh-100">
        <div class="container h-100">
            <div class="row justify-content-center align-content-center h-100">
                <div class="col-12 text-center">
                    <header class="mb-4">
                        <h1>{{ shop.name }}</h1>
                    </header>

                    <main role="main" id="MainContent">
                        {{ content_for_layout }}
                    </main>

                    {% comment %}
                    <footer id="Login" class="mt-4">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-11 col-md-9 col-lg-7 col-xl-5">
                                <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
                                {% form 'storefront_password' %}
                                    <div class="input-group mb-2">
                                        <input type="text" class="visually-hidden" name="username" value="" autocomplete="username" />
                                        <label for="password" class="sr-only">{{ 'general.password_page.login_form_password_label' | t }}</label>
                                        <input type="password" name="password" class="form-control" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autocomplete="current-password" />
                                        <div class="input-group-append">
                                            <button type="submit" name="commit" class="btn btn-secondary">
                                                {{ 'general.password_page.login_form_submit' | t }}
                                            </button>
                                        </div>
                                    </div>

                                    {% include 'error-alerts', errors: form.errors %}
                                {% endform %}
                                <p>{{ 'general.password_page.admin_link_html' | t }}</p>
                            </div>
                        </div>
                    </footer>
                    {% endcomment %}
                </div>    
            </div>
        </div>  
    </div>

</body>
</html>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ shop.name }}",
        {% if settings.shop_logo %}
            {% assign image_size = settings.shop_logo.width | append:'x' %}
            "logo": "https:{{ settings.shop_logo | img_url: image_size }}",
        {% endif %}
        "sameAs": [
            "{{ settings.social_twitter_link }}",
            "{{ settings.social_facebook_link }}",
            "{{ settings.social_pinterest_link }}",
            "{{ settings.social_instagram_link }}",
            "{{ settings.social_tumblr_link }}",
            "{{ settings.social_snapchat_link }}",
            "{{ settings.social_youtube_link }}",
            "{{ settings.social_vimeo_link }}"
        ],
        "url": "{{ shop.url }}{{ page.url }}"
    }
</script>
